<div class="page-header">
<div class="container">
  <%= link_to "Create New User", new_user_path, :class => "btn btn-primary pull-right new-task" %>
  <h1>Users</h1>
  <hr/>
  <table class="table">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          E-Mail
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
      </td>
      <td>
        <%= mail_to(user.email) %>
      </td>
      <% if user == current_user || current_user.admin %>
      <td align="right">
        <%= link_to "edit", edit_user_path(user) %>
      </td>
      <% else %>
      <td></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <hr/>
</div>
