<div class="container">
  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary pull-right" %> </h4>
  <h4>
  <p><%= @user.first_name + " " + @user.last_name %></p>
  <p><%= @user.email %></p>
