<h3>About</h3>
<h5>Get organize and increase productivity with your team.<h/5>
<br>
<br>
<div class="container">
  <id= img/>
  <%= image_tag("meeting.png", class: "img-responsive image_location") %>
</div>
