<div class="navbar navbar-inverse navbar-fixed-top topBar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">gCamp</a>
    </div>
    </div><!--/.navbar-collapse -->
  </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->


<div class="container">
<div class="row">


    <div class="col-md-4">
      <img src="https://farm3.staticflickr.com/2105/2197888496_c43488fc0e_n.jpg" class="img-repsonsive">
    <h2>Tasks</h2>
      <p>Grouped by projects and lists. Just the way you like them. </p>
    </div>

    <div class="col-md-4">
      <img src="https://farm6.staticflickr.com/5267/5783999789_9d06e5d7df_n.jpg">
      <h2>Documents</h2>
      <p><li>Upload</li><li>Comment</li><li>Revise</li></p>
   </div>



    <div class="col-md-4">
      <img src="https://farm6.staticflickr.com/5349/8969237967_c5960fc544_n.jpg" class="img-repsonsive">
      <h2>Comments</h2>
      <p><li>Comment on tasks and documents.</li><li>Get email notification.</p>
    </div>

</div>
</div>

<hr>

<% quotes = [
  ['"Keep your eyes on the stars, and your feet on the ground."', "Theodore Roosevelt"],
  ['"Start where you are. Use what you have. Do what you can"', "Arthur Ashe"],
  ['"A creative man is motivated by the desire to achieve, not by the desire to beat others."',"Ayn Rand"]

]
%>

<% quotes.each do |quote| %>
  <h5><%= quote[0] %> -- <%=quote[1] %>
  </h5>
  <br>
<% end %>
